<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/tynab/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="Tynab" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
	<repository url="https://github.com/Tynab/YANLib" />
</configuration>